:root {
  --color-zinc-950: #09090b;
  --color-zinc-900: #18181b;
  --color-zinc-500: #71717a;
  --color-zinc-300: #d4d4d8;
  --color-white: #ffffff;
  --color-blue-500: #3b82f6;

  --border-radius-message-default: 16px;
  --border-radius-message-sharp: 8px;

  --size-avatar: 28px;

  --width-container-max: 400px;

  --height-reaction: 32px;

  --font-size-message: 14px;
  --font-size-current-time: 12px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  color: var(--color-zinc-300);
}

html,
body {
  background-color: var(--color-zinc-950);
  width: 100%;
  height: 100%;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-from-left {
  0% {
    opacity: 0;
    transform: translateX(-0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.5) translateY(0.25rem);
  }

  50% {
    opacity: 1;
    transform: scale(1.25) translateY(0);
  }

  100% {
    opacity: 1;
    transform: scale(1) translateY(0rem);
  }
}

main {
  margin: auto;
  max-width: var(--width-container-max);
  padding-left: 0.95rem;
  padding-right: 1.25rem;
  padding-bottom: 3rem;
}

#current-time {
  text-align: center;
  font-size: var(--font-size-current-time);
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: var(--color-zinc-500);
  padding-left: 3rem;
}

.avatar {
  width: var(--size-avatar);
  height: var(--size-avatar);
  border-radius: 50%;
  align-self: flex-end;
}

.message-group {
  display: flex;
  gap: 0.5rem;
}

.message-group,
#current-time {
  animation: fade-up 0.5s ease forwards;
  opacity: 0;
}

.message-group:nth-of-type(1) {
  animation-delay: 0.2s;
}

.message-group:nth-of-type(2) {
  animation-delay: 0.4s;
}

.message-group:nth-of-type(3) {
  animation-delay: 0.6s;
}

.message-group + .message-group {
  margin-top: 1.5rem;
}

.message-group .message-list > .message + .message {
  margin-top: 0.25rem;
}

.message-group .message-list .message {
  font-size: var(--font-size-message);
  padding: 0.5rem 1rem;
  background-color: var(--color-zinc-900);
  line-height: 150%;
  border-top-left-radius: var(--border-radius-message-sharp);
  border-bottom-left-radius: var(--border-radius-message-sharp);
  border-top-right-radius: var(--border-radius-message-default);
  border-bottom-right-radius: var(--border-radius-message-default);
}

.message-group .message-list .message:first-child {
  border-top-left-radius: var(--border-radius-message-default);
}

.message a,
.message span {
  line-height: 150%;
  font-size: var(--font-size-message);
}

.message a {
  color: var(--color-blue-500);
}

.message #secret {
  color: var(--color-zinc-500);
  width: 5.5rem;
  display: inline-block;
  font-family: "Space Mono", monospace;
}

.reaction {
  height: var(--height-reaction);
  border-radius: 4rem;
  background-color: var(--color-zinc-900);
  padding: 0.25rem 0.75rem 0.5rem 0.75rem;
  border: 3px solid var(--color-zinc-950);
  position: absolute;
  right: 0.25rem;
  bottom: -1.5rem;
  display: grid;
  place-items: center;
  font-size: var(--font-size-message);
  opacity: 0;
  animation: pop-in 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96) forwards;
  animation-delay: 0.8s;
}

.seen {
  position: absolute;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
  display: inline-block;
  font-size: var(--font-size-current-time);
  color: var(--color-zinc-500);
  animation: fade-from-left 0.5s ease forwards;
  animation-delay: 1.25s;
  opacity: 0;
}
